*~
*.o
*.o-arm*
*.o-sim*
*.obj
*.d
*.lo
*.dylib
*.exe
config.log
config.status
amulet
builds/*
tags
settings
tmp/*
*.orig
log
D.*

amulet.exe.manifest
vc*.pdb

src/am_embedded_data.cpp
src/am_generated_view_defs.inc

tools/embed
tools/gen_view_defs
tools/ampack
ampack

xcode/*

deps/SDL2-2.0.3/Makefile
deps/SDL2-2.0.3/Makefile.rules
deps/SDL2-2.0.3/libtool
deps/SDL2-2.0.3/sdl2-config
deps/SDL2-2.0.3/sdl2.pc
deps/SDL2-2.0.3/build/*
deps/SDL2-2.0.3/include/SDL_config.h
deps/SDL2-2.0.3/include/SDL_revision.h

deps/lua-*/src/lua
deps/lua-*/src/luac
deps/lua-*/src/*.lib
deps/lua-*/src/*.a
deps/lua-*/liblua

deps/stb/*.lib
deps/stb/*.a
deps/stb/*.obj
deps/stb/*.o-*

deps/kiss_fft*/*.lib
deps/kiss_fft*/*.a
deps/kiss_fft*/*.obj
deps/kiss_fft*/*.o-*

deps/LuaJIT-*/src/host/buildvm
deps/LuaJIT-*/src/host/buildvm_arch.h
deps/LuaJIT-*/src/host/minilua
deps/LuaJIT-*/src/jit/vmdef.lua
deps/LuaJIT-*/src/libluajit.a
deps/LuaJIT-*/src/libluajit.so
deps/LuaJIT-*/src/lj_bcdef.h
deps/LuaJIT-*/src/lj_ffdef.h
deps/LuaJIT-*/src/lj_folddef.h
deps/LuaJIT-*/src/lj_libdef.h
deps/LuaJIT-*/src/lj_recdef.h
deps/LuaJIT-*/src/lj_vm.s
deps/LuaJIT-*/src/luajit
deps/LuaJIT-*/src/*.dll
deps/LuaJIT-*/src/*.so
deps/LuaJIT-*/src/*.a

deps/angle-chrome*/*.a
deps/angle-chrome*/*.lib

deps/freetype-*/*.lib
deps/freetype-*/*.a
deps/freetype-*/*.pdb

tests/*.out
tests/*.err
tests/*.res
tests/*.time

doc/manual.html
doc/_build
doc/__pycache__
