*~
*.o
*.o-arm*
*.o-sim*
*.obj
*.d
*.lo
*.dylib
*.exe
config.log
config.status
/amulet
/amulet.exe
/libamulet.so
/amulet_license.txt
/builds/*
tags
settings
tmp/*
*.orig
log
D.*
*.swp
*.dSYM
.DS_Store

/VERSION

amulet.exe.manifest
vc*.pdb

src/am_embedded_data.cpp
src/am_version.cpp
src/am_generated_view_defs.inc

third_party/SDL2-*/Makefile
third_party/SDL2-*/Makefile.rules
third_party/SDL2-*/libtool
third_party/SDL2-*/sdl2-config
third_party/SDL2-*/sdl2.pc
third_party/SDL2-*/build/*
third_party/SDL2-*/include/SDL_config.h
third_party/SDL2-*/SDL2.spec
third_party/SDL2-*/sdl2-config.cmake

third_party/lua-*/src/lua
third_party/lua-*/src/luac
third_party/lua-*/src/*.lib
third_party/lua-*/src/*.a
third_party/lua-*/liblua

third_party/stb/*.lib
third_party/stb/*.a
third_party/stb/*.obj
third_party/stb/*.o-*

third_party/glsl-optimizer/*.a

third_party/kiss_fft*/*.lib
third_party/kiss_fft*/*.a
third_party/kiss_fft*/*.obj
third_party/kiss_fft*/*.o-*

third_party/LuaJIT-*/src/host/buildvm
third_party/LuaJIT-*/src/host/buildvm_arch.h
third_party/LuaJIT-*/src/host/minilua
third_party/LuaJIT-*/src/jit/vmdef.lua
third_party/LuaJIT-*/src/libluajit.a
third_party/LuaJIT-*/src/libluajit.so
third_party/LuaJIT-*/src/lj_bcdef.h
third_party/LuaJIT-*/src/lj_ffdef.h
third_party/LuaJIT-*/src/lj_folddef.h
third_party/LuaJIT-*/src/lj_libdef.h
third_party/LuaJIT-*/src/lj_recdef.h
third_party/LuaJIT-*/src/lj_vm.s
third_party/LuaJIT-*/src/luajit
third_party/LuaJIT-*/src/*.dll
third_party/LuaJIT-*/src/*.so
third_party/LuaJIT-*/src/*.a

third_party/angle-chrome*/*.a
third_party/angle-chrome*/*.lib

third_party/freetype-*/*.lib
third_party/freetype-*/*.a
third_party/freetype-*/*.pdb

third_party/tinymt-*/*.lib
third_party/tinymt-*/*.a

third_party/GoogleMobileAds.framework

tests/*.out
tests/*.err
tests/*.res
tests/*.time

gllog
gllog.cpp

valgrind.log

/third_party/steamworks_sdk*
/third_party/*.bak

/tools/bsearch
/tools/embed
/tools/gen_view_defs
