* {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #fff;
    background-image: url("bg.png");
} 

#wrapper {
    min-height: 100%;
    position: relative;
    width: 780px;
    margin: 0 auto 0 auto;
}

#header {
    width: 760px;
    margin: 0 auto 30px auto;
    height: 350px;
    background-image: url('logo.png');
    background-position: center;
    background-repeat: no-repeat;
}

#content {
    width: 780px;
    margin: 0;
    padding: 0 0 100px 0;
    color: #494149;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 760px;
    font-size: 12px;
    color: #999;
    margin: 0 10px 0 10px;
}

#content p {
    margin: 10px 10px 20px 10px;
}

.info-box-full {
    width: 760px;
    margin: 10px 10px 10px 10px;
}

.info-box-small {
    width: 240px;
    margin: 10px 10px 10px 10px;
    float: left;
}

.info-box-header {
    width: 100%;
    height: 30px;
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #66cce2;
    padding: 5px 10px 0 10px;
    font-size: 16px;
    font-weight: bold;
}

.info-box-body {
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #e2dedf;
    padding: 5px 10px 0 10px;
    height: 150px;
}

#download-links {
    display: none;
}

#download-links .info-box-body {
    height: 110px;
    padding: 0;
}

#download-links ul {
    width: 233px;
    height: 80px;
    float: left;
    margin: 10px 10px 0 10px;
    padding: 10px 10px 10px 100px;
    list-style-type: none;
}

#windows-download-links {
    background-image: url("windows.png");
    background-position: 40px 5px;
    background-repeat: no-repeat;
    padding-left: 125px !important;
}

#osx-download-links {
    background-image: url("apple.png");
    background-position: 35px 0;
    background-repeat: no-repeat;
}

#linux-download-links {
    background-image: url("tux.png");
    background-position: 50px 7px;
    background-repeat: no-repeat;
    padding-left: 110px !important;
}

.notes a,
.notes a:visited {
    float: right;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    vertical-align: top;
    margin-left: 10px;
}

#prev-releases a,
#prev-releases a:visited {
    float: right;
    color: #494149;
    font-size: 12px;
    font-weight: normal;
    margin: -5px 10px 0 0;
}

a,
a:visited {
    color: #ff00ff;
}

#footer a,
#footer a:visited {
    color: #ff66ff;
}


.clear {
    clear: both;
}
