html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #4e4e4e;
} 

.clear {
    clear: both;
}

div {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    box-sizing: border-box;
}

#toolbar {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

#left-panel {
    position: absolute;
    top: 30px;
    left: 0;
    width: 800px;
    bottom: 7px;
}

#vsplitter {
    position: absolute;
    width: 7px;
    top: 30px;
    left: 800px;
    bottom: 0;
    cursor: col-resize;
}

#vsplitter:hover,
#hsplitter:hover
{
    background-color: #888;
}

#editor-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #662288;
}

.CodeMirror {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

#right-panel {
    position: absolute;
    top: 30px;
    left: 807px;
    right: 7px;
    bottom: 7px;
}

#canvas-panel {
    position: absolute;
    top: 0;
    bottom: 207px;
    width: 100%;
    background-color: #008888;
}

#hsplitter {
    position: absolute;
    bottom: 200px;
    left: 0;
    width: 100%;
    height: 7px;
    cursor: row-resize;
}

#output-panel {
    position: absolute;
    background-color: #ff8888;
    height: 200px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: scroll;
}

/* CodeMirror theme */

.cm-s-amulet.CodeMirror {background: #111; color: #ffffec;}
.cm-s-amulet div.CodeMirror-selected {background: #444 !important;}
.cm-s-amulet .CodeMirror-gutters {background: #4e4e4e; border-right: 0px;}
.cm-s-amulet .CodeMirror-guttermarker { color: white; }
.cm-s-amulet .CodeMirror-guttermarker-subtle { color: grey; }
.cm-s-amulet .CodeMirror-linenumber {color: #dadada;}
.cm-s-amulet .CodeMirror-cursor {border-left: 2px solid #ffffec !important;}

.cm-s-amulet span.cm-comment {color: #ff77ff; font-style: italic;}
.cm-s-amulet span.cm-number {color: #ffffec;}
.cm-s-amulet span.cm-keyword {color: #33ff33;}
.cm-s-amulet span.cm-string {color: #ffaa00;}
.cm-s-amulet span.cm-variable {color: #ffffec;}
.cm-s-amulet span.cm-variable-2 {color: #ffffec;} /* specials */
.cm-s-amulet span.cm-builtin {color: #ffffec;}

.cm-s-amulet .CodeMirror-activeline-background {background: #494b41 !important;}
.cm-s-amulet .CodeMirror-matchingbracket {color: #222 !important;}
